<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>CodePen - Testimonials Carousel</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>

  <script type="text/javascript" charset="utf-8" defer>
    // console.log("WORK GODDAMN")
      var socket = io();
      var rCode = sessionStorage.getItem("rCode");

      socket.emit('endResults', rCode);
      socket.on('results', (picPre, promptPre) => {
        const pics = picPre;
        const prompts = promptPre;

        // console.log(pics)
        // console.log(prompts)

        for(let i = 0 ; i < pics.length ; i++){
          const ele = document.createElement("div")
          ele.classList = ["carousel-item"]
          if(i === 0){
            ele.classList.add("active")
          }
          const image = document.createElement("img")
          image.src = pics[i]
          image.classList = ["d-block"]
          image.classList.add("w-100")
          ele.appendChild(image)

          const caption = document.createElement("div")
          caption.classList = ["carousel-caption"]
          caption.classList.add("d-none")
          caption.classList.add("d-md-block")
          const head = document.createElement("h5")
          head.textContent = prompts[i]
          caption.appendChild(head)
          ele.appendChild(caption)

          document.getElementsByClassName("carousel-inner")[0].appendChild(ele)
        }

      });
  </script>

  <link rel="stylesheet" Type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="gtco-testimonials">
  <div class="container">
    <div class="row justify-content-md-center" id="poo">
      <div class="col-md-2 bg-secondary text-white" style="height: 90vh;">
        AD SPACE
      </div>
      <div class="col-md-8">
        <br>
        <h3> Drawings: </h3>
        <br>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <br>

        <button type="button" class="btn btn-success" id="back"> Back </button>
        <!-- <a href="/" class="btn btn-secondary btn-md" tabindex="-1" role="button" aria-disabled="true"> Back </a> -->

        <br><br><br>

      </div>
      <div class="col-md-2 bg-secondary text-white" style="height: 90vh;">
        AD SPACE
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <script>
  var socket = io();

  socket.emit("reconnect", rCode);

  document.getElementById("back").addEventListener("click", submit);
  function submit() {
    socket.emit("exit", rCode);
  }

  socket.emit("reconnect", rCode);

  socket.on("leave", function (data) {
    console.log(data.url);
    window.location = data.url;
  });

  </script>

</body>
</html>
