<!DOCTYPE html>
<html>

<head>

</head>

<body>
<h2>Message</h2>
<div id="username" hidden>
{{username}}
</div>
<div id="roomnumber" hidden>
{{roomnumber}}
</div>

Loading...

<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var uName = document.getElementById("username").innerHTML;
    var rCode = document.getElementById("roomnumber").innerHTML;

    socket.emit("userInfo", uName, rCode);
    socket.on("approvedUser", (appUName, appRCode) => {
        uName = appUName;
        rCode = appRCode;
        document.getElementById("username").innerHTML = appUName;
        document.getElementById("roomnumber").innerHTML = appRCode;
    });
</script>

</body>

</html>
